<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-image: url('http://infiniantechnologies.com/sites/2020/1/infinian/bg/infinian3.gif');
            background-size: cover;
            height: 100vh;
            padding: 0;
            margin: 0;
        }
    </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="w3-bar w3-black">
        <!--<p class="w3-bar-item">PRANAV DATA</p>-->
        <a href="logout" class="w3-bar-item w3-button w3-right w3-xlarge " style="width:10% ">Logout</a>
        <a href=" # " class="w3-bar-item w3-button w3-xlarge" style="width:16% ">STOCK DATA</a>
        <a href="profile" class="w3-bar-item w3-button w3-right w3-xlarge " style="width:10% ">Profile</a>
        <a href="home" class="w3-bar-item w3-button w3-right w3-xlarge " style="width:10% ">Home</a>
    </div>






    <div class="w3-display-container">
        <!-- <img src="https://media.istockphoto.com/photos/abstract-financial-bar-chart-with-uptrend-line-graph-on-blue-colour-picture-id1262836702?k=20&m=1262836702&s=612x612&w=0&h=A4x59IZdQZz0YvKnUgT089O9iWMpnDXHtbFcyG_g-lE=" alt="Lights" width="100%" height="100%"> -->

        <div class="w3-display-middle w3-xlarge" style="color:rgb(73, 212, 191); font-size: 35px;">
            <div class="w3-panel w3-center w3-card-4 w3-sand w3-round-xxlarge" style="width:115%">
                <p class=" w3-large w3-serif w3-center">
                    <i class="fa fa-quote-right w3-xxlarge w3-text-blue"></i><br>
                    <i><b>welcome <%= name %><br> Successful Traders always follow the line of least resistance.<br> Follow the trend, trend is your friend....</i>
                    </b>
                </p>
            </div>
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="w3-button w3-round-xlarge w3-sand w3-xlarge" style="font-family: sans; text-decoration: none;"><b><a href = "stockData">&nbspExplore Stocks</b>&nbsp;<i class="fa fa-arrow-right"></i></a></button>
        </div>

    </div>

</body>

</html>