<!DOCTYPE html>
<html>

<body>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="css/signup.css" type="text/css" rel="stylesheet">
    <div class="box2">
        <h1>Register</h1>
        <form method="post" action="/onsignup" id="nameform">
            <p>Full Name</p>
            <input type="text" name="fullname" placeholder="Enter Name" required>
            <i class="uil uil-user-circle"></i>
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username" required>
            <i class="uil uil-user"></i>
            <p>email</p>
            <input type="text" name="email" placeholder="Enter email address" required>
            <i class="uil uil-envelope"></i>
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password" required>
            <i class="uil uil-lock"></i>
            <p>Confirm Password</p>
            <input type="password" name="confirmpassword" placeholder="Re-enter Password" required>
            <i class="uil uil-lock"></i>
            <button type="submit" class="w3-circle w3-btn" form="nameform" value="Submit" style="background-color: #ebebe1;margin-left: 30%;font-size: 18px;border-radius: 15%;">Submit</button>
        </form>
    </div>

</body>

</html>